.DS_Store

.git
.gitignore

.settings
.classpath
.project
.cache*
.metadata
.worksheet
RemoteSystemsTempFiles/
Servers/

.gradle
bin/
build/
/*/build/


*.log
*.log*
*~*
*.bak
*.tmp
*.temp
Thumbs.db

_old
# /*.min.js*

/.vscode

out/
tmp/
temp/
/target/
/target-eclipse/

.env
.envrc
.env.development
.env.test
local.properties

# *.class

node_modules

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.nyc_output
/coverage

.dockerignore
Dockerfile
Dockerfile*.*
Jenkinsfile
Jenkinsfile*.*
/jenkins